$black: #1c1c28;
$white: #fff;
$white-light: #e3e4e9;
$white-lighter: #f3f5f7;
$gray: #92a1ad;
$gray-light: #abaab1;
$gray-dark: #9291a5;
$voilet-100: #8a74f9;
$voilet-26: #8a74f942;
$voilet-10: #8a74f91a;
$voilet-0: #8a74f900;
